{% extends 'base.html' %}
{% block title %} Manga list {% endblock %}
{% load static %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
        {% for manga in mangas %}
  <div class="col">
    <div class="card">
        {% if manga.image %}
      <img style="width: 250px; height:350px;" src="{{ manga.image.url }}" class="card-img-top" alt="...">
        {% else %}
        <img style="width: 250px; height:350px;" src="{% static 'img/default-book.png' %}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
        <h5 class="card-title">{{ manga.title }}</h5>
        <p class="card-text">{{ manga.status }}</p>
            <a class="btn btn-success" href="{% url 'create-order' %}" role="button">Buy</a>
      </div>
    </div>
  </div>
        {% endfor %}
</div>
{% endblock %}
